@charset "utf-8"
/*@import url("css/sprites.css")*/
@media screen and (min-width:650px) {
  h1 {
    font-weight: bold;
    color: red;
  }
} /*Se a tela for maior que 650px o texto vai ficar em vermelho e bold*/

p {
  font-weight: bold;
  font-style: oblique;
}
